<!DOCTYPE html>
<html>
	<head>
    	<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
	</head>
	<body>
		<h1>A new user has registered</h1>
		<p>Let's see if you can get this email first though</p>
	</body>
</html>
