<!DOCTYPE html>
<html>
	<head>
    	<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
	</head>
	<body>
		<h1>Welcome <%= @user.username %>!</h1>
		<p>Please Login <a href="<%= @url %>">here</a></p>
	</body>
</html>
