<p>
    <b>Commenter:</b>
	<%= User.find(comm.user_id).username %>
  </p>
 
  <p>
    <b>Comment:</b>
    <%= comm.body %>
  </p>

	<p>
		<%= link_to "Delete Comment", [comm.post, comm],
					:confirm => "Are you sure?" ,
					:method => :delete %>
	</p>
