<h1>Listing users: (<%= @users.count %>)</h1>
<% @users.each do |user| %>
	<p>
	<b>username:</b> <%= user.username %><br />
	<b>password:</b> <%= user.password %>
	</p>
<% end %>
<%= link_to "create user", new_user_path %>
